﻿@{
    ViewBag.Title = "Create Roadmap";
}

<script type='text/javascript'>


    function addelement() {

        var max_fields = 10; //maximum input boxes allowed
        var add_button = $(".addRoadmap1"); //Add button ID

        var x = 1; //initial text box count

        $(add_button).click(function (e) { //on add input button click
            e.preventDefault();
            var lastField = $("#wrapfield div:last");
            var intId = (lastField && lastField.length && lastField.data("idx") + 1) || 1;
            var wrapper = $("<div class=\"wrap-field\" id=\"wrapfield" + intId + "\"/>");
            wrapper.data("idx", intId);

            $(wrapper).append('<div class="d-inline p-2"><div class="input-group d-inline p-2"><span class="input-group-addon">1</span><input type="text" class="form-control" placeholder="Roadmap Section.." style="margin-right:0.5em"><span class=""><button class="btn btn-primary" type="button" id="addRoadmap' + { intId } + '" onclick="addelement()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button><button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></span></div><div class="d-inline p-2"></div></div>');
        });

    };
</script>

<div class="">
    <h2>@ViewBag.Title</h2>
    <div class="container ">
        <div class="panel-default justify-content-md-center col-sm-9 mb-3 mb-md-0 ">
            <div class="panel-heading">
                <h4>Input Roadmap</h4>
            </div>
            <div class="panel-body " style="margin:auto;background-color:white;padding-bottom:3em" ">
                <div class="text-left">

                </div>
                <form id="jenisPinjaman">
                    <div class="form-group-sm text-left">
                        <br />
                        <h4 style="color: #919191;">Jenis Pinjaman</h4>
                        <input class="form-control" id="jPinjaman" type="text">
                        <p id="errjPinjaman" class="help-block text-danger"></p>
                    </div>
                </form>
                <br />
                <div class="text-left" style="margin:auto;">
                    <h4 style="color:#919191">Roadmap Title Section</h4>
                </div>
                <form id="jenisPinjaman">
                    <br />
                    <div class="wrap-field" id="wrapfield">
                        <div class="d-inline p-2">
                            <div class="input-group d-inline p-2">
                                <span class="input-group-addon">1</span>
                                <input id="roadmapsection1" type="text" class="form-control" placeholder="Roadmap Section.." style="margin-right:0.5em">
                                <span class="">
                                    <button class="btn btn-primary" type="button" id="addRoadmap1" onclick="addelement()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                    <button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                                </span>
                            </div>
                        </div><!-- /.col-lg-6 -->
                    </div>
                </form>
            </div>
            <div class="panel-footer text-left" style="background-color:whitesmoke;">
                <span class="">
                    <button class="btn btn-primary" type="button">Save</button>
                    <button class="btn btn-danger" type="button">Cancel</button>
                </span>
            </div>
        </div>
    </div>

</div>

<p class="text-center">Use this area to provide additional information.</p>

<script>

</script>